//
//  Config.xcconfig
//  LeSnacks
//
//  Created by Vivian Phung on 7/21/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

WALLET_CONNECT_PROJECT_ID = 5fc3c0df02a54941ffe75c9befc6b87e
SIMULATOR_IDENTIFIER = 2D28C541-42F1-482D-A536-43D036005FE5
